@import url(http://fonts.googleapis.com/css?family=Raleway:400);
@import url(http://fonts.googleapis.com/css?family=Hind:300&subset=latin,devanagari);
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;

}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

body{
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
	font-family: 'Raleway';
}
.namecard{
	margin: 10px;
	height: 80px;
}
.imagediv{
	margin-left: 4px;
}
.image{
	border-radius: 100%;
	border: #fff 6px solid;
	width: 120px;
	height: 120px;
	-moz-box-shadow: 3px 3px 6px #eee;
	-webkit-box-shadow: 3px 3px 6px #eee;
	box-shadow: 3px 3px 6px #eee;
}
.name{
	content: attr(data-hover);
	color: #f79503;
	margin-top: 6px;
	font-weight: 488;
	text-transform: uppercase;
	margin-bottom: 6px;
	font-family: 'Hind';
	font-style: bold;
	font-size: 26px;
	display: inline-block;
}
.name:hover { font-size: 0; }
.name:hover:before {
	font-size: 26px;
	content: attr(data-hover);
}
.title{
	float: center;
	margin:0;
}
.selected a{
	text-decoration: none;
	color: #f79503;

	border-color: #f79503; 
}
ul{
	text-decoration: none;
	margin-top: 30px;
	margin-right: 48px;
	margin-bottom: 6px;
}
li{
	display: inline-block;
	margin-left: 10px;
	margin-right: 0;
	text-align: center;
	margin-bottom: 10px;
}
ul a:link, ul a,  ul a:active{
	text-decoration: none;
	color: #6e6c6c;
}
ul a:hover{
	text-decoration: none;
	color: #f79503;
	border-bottom: 1.6px solid;
	border-color: #f79503; 
}
h2{
	font-weight: 100;
	color: #f79503;
}
a:link, a, a:active{
	text-decoration: none;
	color: #f79503;
}
a:hover{
	text-decoration: none;
	color: #f79503;
}
a{
	margin: 0;
}
.container{
	max-width: 880px;
	margin: 0 auto;
	background-color: #fff;
	padding: 26px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nature{
	width: 100%;
	height: 200px;
	background-image: url(nature/4.jpg);
	background-position: fixed;
	background-size: 100vw;
	margin: 0;

}
.gallarytitle{
	color: white;
	padding-top: 80px;
	margin: 0;
}
.abstract{
	width: 100%;
	height: 200px;
	background-image: url(abstract/1.gif);
	background-position: fixed;
	background-size: 100vw;
	margin: 0;

}
.random{
	width: 100%;
	height: 200px;
	background-image: url(random/1.jpg);
	background-position: fixed;
	background-size: 100vw;
	margin: 0;

}
.ctlogo{
	margin-right: auto;
	margin-left: auto;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #f79503;
}

::selection {
    color: white; 
    background: #f79503;
}
