// FONT IMPORTS
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
//
// VARIABLES
//

// Colors
$orange: #f79000;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$lightAssGrey: #f8f8f8;

// Font stacks
$quicksand: 'Quicksand',Arial, sans-serif;
$EBGamond: 'EB Garamond',Georgia, serif;;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
