// FONT IMPORTS
@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,400italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);
//
// VARIABLES
//

// Colors
$orange: #f79000;

// Grays
$black: #000;
$lightAssGray: #f8f8f8;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;


// Font stacks
$merriweather: 'Merriweather', serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$openSans: 'Open Sans', sans-serif;
$cabin: 'Cabin', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
