@import url(https://fonts.googleapis.com/css?family=Cabin:400,400italic,600);
body{
  margin: 0;
  padding-top: 15px;
  word-wrap: break-word;
  font-size: 16px;
  font-family: Cabin, sans-serif;
  color: #333;
  overflow-x: hidden;
  padding-bottom: 10px;
}
.name{
  width: 60px;
}
a,a:focus{
  color: #333;
  text-decoration: none;
  border-bottom: 3px solid rgba(247, 146, 5, 0.5);
}
a:hover{
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid #f79000;
}
.navigation{
  padding-top: 18px;
  font-weight: 400;
  font-family: Cabin;
  font-size: 16px;
  margin:0;
  float: right;
}
.navigation li {
  display:inline;
  margin-left:20px;
}
.heading{
  text-align: right;
  font-weight: 600;
  font-size: 17px;
  font-family: Cabin;
  color: #000;
}
.sub-heading{
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  font-family: Cabin;
  color: #666;
}
.quote{
  text-align: center;
  font-style: italic;
}
.quote-author{
  text-align: right;
  color: #666;
}
ul{
  list-style-type: none;
  padding: 0;
}
.navigation a{
  border-bottom: 0;
}
.navigation a:hover{
  color: #333;
  text-decoration: none;
  border-bottom: 3px solid rgba(247, 146, 5, 0.5);
}
.navigation .active{
  font-weight: 600;
  border-bottom: 3px solid #f79000;
}
li{
  padding-bottom: 5px;
}
.book{
  padding: 10px;
  background-color: #f8f8f8;
  border: 5px solid white
}
.book:hover{
  background-color: #f5f5f5;
}
.book-cover{
  width: 100%;
}
.book-title{
  font-weight: 600;
  margin-bottom: 0;

}
.book-author{

}
.work ul li{
  font-weight: 600;
}
@media only screen and (max-width: 995px) {
    .heading{
      text-align: left;
    }
    .sub-heading{
      text-align: left;
    }
}
@media only screen and (max-width: 365px) {
    .heading{
      text-align: left;
      padding-top: 10px;
    }
    .sub-heading{
      text-align: left;
    }
    .navigation{
      text-align: center;
      width: 100%;
      padding-bottom: 30px;

    }
    .name{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80px;
    }
    .container .container{
      padding: 0;
      margin: 5px;
    }
}
